@import url('./__name/form__name.css');
@import url('./__profession/form__profession.css');
@import url('./__save-btn/form__save-btn.css');
@import url('./__title/form__title.css');

.form {
  background-color: white;
  color: black;
  max-width: 450px;
  display: flex;
  flex-flow: column;
  z-index: 2;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 25 rgba(0, 0, 0, 0.15);
  padding: 36px;
}
