.profile__add-btn {
  background-color: black;
  width: 10%;
  height: 50px;
  border: 2px solid white;
  border-radius: 2px;
  color: white;
  transition: 0.3s;
  margin-left: auto;
}

.profile__add-btn:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .profile__add-btn {
    width: 88%;
    margin: 36px auto;
  }
}
