.profile__add-btn {
  background-color: black;
  width: 17%;
  height: 50px;
  border: 2px solid white;
  border-radius: 2px;
  color: white;
  transition: 0.3s;
  margin-left: auto;
  padding: 0;
  background-image: url('../../../images/Vector-cross.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 0.4;
}

@media screen and (max-width: 900px) {
  .profile__add-btn {
    width: 88%;
    margin: 36px auto;
  }
}
