@import url('./__logo/header__logo.css');

.header {
  border-bottom: 1px rgba(250, 250, 250, 0.3) solid;
  max-height: 119px;
  padding-top: 45px;
  align-self: stretch;
  max-width: 882px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 0 0 27px;
    max-height: 56px;
  }
}
