@import url('./__image/picture-modal__image.css');
@import url('./__title/picture-modal__title.css');
@import url('./__close-btn/picture-modal__close-btn.css');
@import url('./__container/picture__modal-container.css');

.picture-modal {
  position: fixed;
  top: 50%;
  left: 51.5%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s ease-out;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-modal::before {
  content: '';
  min-width: 200vw;
  min-height: 200vh;
  background-color: rgba(0, 0, 0, 0.705);
  position: absolute;
  top: 10;
  left: 10;
  z-index: -3;
}

@media screen and (max-width: 725px) {
  .picture-modal {
    left: 54.5%;
  }
}
