.profile__info {
  line-height: 0.2;
  padding-left: 20px;
  display: flex;
  flex-flow: column;
  position: relative;
}

@media screen and (max-width: 768px) {
  .profile__info {
    padding-left: 0;
  }
}

.profile__job {
  margin: 0;
  line-height: 1.3;
  text-align: center;
  font-weight: normal;
}

.profile__name {
  margin: 0;
  line-height: 1.5;
  text-align: center;
  font-weight: normal;
  position: relative;
}
