.picture-modal__image {
  object-fit: contain;
  max-width: 75vw;
  max-height: 75vh;
}

@media screen and (max-width: 400px) {
  .picture-modal__image {
    width: 240px;
    height: 299px;
    object-fit: cover;
    object-position: center;
  }
}
