.form__profession {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgb(170, 168, 168);
  font-size: 14px;
  line-height: 2;
  outline: none;
}

@media screen and (max-width: 725px) {
  .form__profession {
    font-size: 12px;
  }
}
