@import url('./__caption/card__caption.css');
@import url('./__picure/card__picture.css');
@import url('./__like-btn/card__like-btn.css');
@import url('./__like-btn/__like-btn_active/card__like-btn_active.css');
@import url('./__title/card__title.css');
@import url('./__delete-btn/card__delete-btn.css');

.card {
  border-radius: 10px;
  max-height: 361px;
  max-width: fit-content;
  background-color: white;
  color: black;
  min-width: 282px;
  margin: 0 0 21px 0;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin-right: 1.4vw;
}

.card:nth-child(3n) {
  margin-right: 0;
}

@media screen and (min-width: 1280px) {
  .card {
    margin-right: 18px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    margin: 0 0 20px;
  }

  .card:last-child {
    margin-bottom: 10px;
  }
}
